* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Tahoma, sans-serif;
}
.control-buttons {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-image: url("./imgs/bg.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.control-buttons .span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 25px;
  text-align: center;
}
.control-buttons .span div,
.control-buttons .span div {
  /* for game levels */
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(177, 121, 121);
  box-shadow: 5px 5px 5px rgb(157, 64, 103);

  color: #ffffff;
  font-size: 30px;
  margin: 10px;
  padding: 5px;
}
.control-buttons .span .test {
  position: absolute;
  left: 90%;
  top: 46%;
  text-align: center;
}
.control-buttons .span .test .test1 {
  width: 200px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
  background-color: rgb(177, 124, 124);
}
.info-container {
  width: 1080px;
  margin: 20px auto 0;
  background-color: #ffffff;
  /*background-image: url("./imgs/game\ dev.png");
    background-position: center;
    background-repeat: no-repeat;*/
  padding: 20px;
  font-size: 24px;
  overflow: hidden;
  border: 2px solid #3d4c58;
}
.info-container .name {
  float: left;
  width: 50%;
}
#timer {
  margin-left: 30px;
  color: #000000;
}
.info-container .Score {
  float: right;
  width: 50%;
  text-align: right;
}

.info-container .tries {
  float: right;
  width: 50%;
  text-align: right;
}
.memory-game-blocks {
  display: flex;
  /* width: 1100px; */
  /* width: 1320px; */
  width: 889px;
  flex-wrap: wrap;
  margin: 20px auto;
}
.memory-game-blocks.no-clicking {
  pointer-events: none;
}
.memory-game-blocks .game-block {
  height: 150px;
  width: 150px;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  flex: 1 0 200px;
  margin: 0 10px 20px;
}
.memory-game-blocks .game-block .front {
  background-color: #55787a;
  background-image: url("./imgs/wepik-export-2023112209061624Zo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
/*.memory-game-blocks .game-block .front:before {
    content: "!";
    color: #b02929;
    font-size: 100px;
    font-weight: bold;
  }*/
.memory-game-blocks .game-block .back {
  background-color: #81939c;
  transform: rotateY(180deg);
}
.memory-game-blocks .game-block .back img {
  width: 190px;
  height: 140px;
}
.memory-game-blocks .game-block .face {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  backface-visibility: hidden;
  border: 5px solid #000000;
}
.memory-game-blocks .game-block.is-flipped,
.memory-game-blocks .game-block.has-match {
  /* -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg); */
  transform: rotateY(180deg);
  pointer-events: none;
}
/* after finshed the game  */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #76bce7;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid rgb(76, 62, 184);
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Player Info Page */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("");
}

.container h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333;
}

#player-info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

#player-info-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#player-info-form input {
  padding: 10px;
  border: 1px solid #ccc;
  width: 200px;
  font-size: 1rem;
}

#player-info-form button {
  padding: 10px;
  border: none;
  background-color: rgb(199, 109, 109);
  color: white;
  cursor: pointer;
  font-size: 1rem;
}

/* Instructions Page */

#instructions-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#instructions-page h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #000000;
}

#instructions-page p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  margin-bottom: 20px;
}

#instructions-page ol {
  padding: 20px;
  list-style: none;
  font-size: 1.2rem;
  line-height: 1.5rem;
}

#instructions-page li {
  margin-bottom: 10px;
}

#instructions-page #start-game {
  padding: 10px;
  border: none;
  background-color: #b77e7e;
  color: white;
  cursor: pointer;
  font-size: 1rem;
}
